 
	
			.margin {margin-bottom: 45px;}
				  .bg-1 { 
				    background-color: #1abc9c; /* Green */
				    color: #ffffff;
				  }

			  body {
				      font-family:'TIMES NEW ROMAN', sans-serif;
				      background-color: rgb(9,25,42);
				       background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
				       position: relative;
				    }
				   .navbar{
				   	height: 50%;
				   }
				   .jumbtron{
				   	background-image:linear-gradient(to top, #30cfd0 0%, #330867 100%)
				   }
