body{
    font-family: 'Times New Roman', Times, serif;
    background-color: thistle;
}
h1{
   text-align: center;
   color: aquamarine;
   font-size: 40px;

}
main{
   content: "";
  display: table;
  clear: both;
}

div{
   float: left;
  width: 30.33%;
  padding: 20px;
   border: rosybrown;
   border-style: double;
   text-align: center;
   background-color: sandybrown;
}
h4{
   text-decoration-color: salmon;
}
span > h4{
   float: right;
   width: 40%;
   background-color: slateblue;
   padding: 8px;
   text-align: center;
   margin: -20px;
   border:solid 1px;
}

marquee{
   font-size: 20px;
}