body{
    font-family: 'Times New Roman', Times, serif;
    background-color: thistle;
}

h1{
   text-align: center;
   color: aquamarine;
   font-size: 40px;

}

div{  
   border: rosybrown;
   border-style: double;
   background-color: sandybrown;
} 

* {
  box-sizing: border-box;
}

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 33.33%;
  padding: 10px;
  height: 100%; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  padding: 10px;
  display: table;
  clear: both;
}

h4{
   text-decoration-color: salmon;
}
 span > h4 {
   float: right;
   width: 30%;
   height: 35px;
   background-color: slateblue;
   padding: 9px;
   text-align: center;
   margin-top: -5px;
   border: solid px;
} 

marquee{
   font-size: 20px;
}