body {
  font-family: 'Lato';
}

h1,
h2,
h3,
h4,
h5,
h6{
  font-family: 'Catamaran';
  font-weight: 800 !important;
  font-size: 2em;
}

#op{
  background-color: #099;}

 .op{
	
 	font-size: 1.7em;
 }